* {
  background-color: #f6f6f6;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5vw;
  margin-top: 5vh;
}

button,
input {
  font-size: 3.5vw;
  padding: 2vh 4vw;
  border-radius: 1vh;
}

button {
  background-color: rgb(18, 84, 123);
  color: #f6f6f6;
  border: none;
  margin-top: 5vh;
}

input {
  color: rgb(18, 84, 123);
  border: 2px solid rgb(18, 84, 123);
  margin-bottom: 5vh;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }

  button,
  input {
    font-size: 6vw;
  }
}
